.playlistitem {
    background-color: #dddddd;
    margin: 0.4em;
    padding: 0.4em;
        background-image: none; border-image: none;
}

.playlistitem.has-cursor {
    background-color: #cccccc;
}

.playlistitem .textpart {
    margin-left: 1em;
}
.playlistitem .name {
    font-size: 1.4em;
    padding-bottom: 0.4em;
}

