.smallblock {
    background-color: #dddddd;
    margin: 0.4em;
    padding: 0.4em;
        background-image: none; border-image: none;
}

.has-cursor .smallblock {
    background-color: #cccccc;
}

.smallblock .textpart {
    margin-left: 1em;
}
.smallblock .name {
    font-size: 1.4em;
    padding-bottom: 0.4em;
}

